body {
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
li {
    display: inline;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }